<ion-header>
  <ion-toolbar color="primary" text-center>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{'SETTINGS-TITOLO' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <form [formGroup]="settingForm">
    <ion-list no-lines>
      <ion-label>
        <h6>
          {{ 'CAMBIALINGUA' | translate }}
        </h6>
      </ion-label>

      <ion-item>
        <ion-label position="fixed">{{ 'LINGUA' | translate }}</ion-label>
        <ion-select formControlName="linguaPreferita" okText="{{ 'SAVE_BUTTON' | translate }}" cancelText="{{ 'CANCEL_BUTTON' | translate }}">
          <ion-select-option *ngFor="let lingua of lingue" [value]="lingua.valore">{{lingua.etichetta}}</ion-select-option>
        </ion-select>
      </ion-item>

      <div margin-top="30px">
        <ion-label>
          <h6>
            {{ 'CAMBIAPASSWORD' | translate }}
          </h6>
        </ion-label>
      </div>


      <ion-item class="animated fadeInUp">
        <ion-label position="floating">{{ 'PASSWORD' | translate }}</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <ion-item class="animated fadeInUp">
        <ion-label position="floating">{{ 'CONFPASSWORD' | translate }}</ion-label>
        <ion-input type="password" formControlName="confpassword"></ion-input>
      </ion-item>
      <p ion-text class="datacommento" *ngIf="settingForm.get('confpassword').dirty && settingForm.get('confpassword').errors && settingForm.get('confpassword').errors.ConfirmPassword">
      <ion-text color="danger">{{ 'PASSINVALID' | translate }}</ion-text>
      </p>

    </ion-list>

    <div margin-top="30px" align="center">
      <ion-button icon-left size="medium" shape="round" color="primary" (click)="Submit()" [disabled]="!settingForm.valid" tappable>
        {{ 'SAVE_BUTTON' | translate }}
      </ion-button>
      <ion-button icon-left size="medium" shape="round" color="primary" (click)="Cancel()" tappable>
        {{ 'CANCEL_BUTTON' | translate }}
      </ion-button>
    </div>

  </form>

</ion-content>
