<ion-header>
  <ion-toolbar color="primary" text-center>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{'CERCAFILTRI-TITOLO' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="filtriForm">
    <ion-list no-lines>
      <ion-item class="animated fadeInUp">
        <ion-label position="floating">{{ 'DIFFICOLTA' | translate }}</ion-label>
        <ion-select formControlName="difficolta" okText="{{ 'SAVE_BUTTON' | translate }}" cancelText="{{ 'CANCEL_BUTTON' | translate }}">
          <ion-select-option *ngFor="let diff of difficolta" [value]="diff">{{diff}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item class="animated fadeInUp">
        <ion-label position="floating">{{ 'TPREP' | translate }}</ion-label>
        <ion-select formControlName="tprep" okText="{{ 'SAVE_BUTTON' | translate }}" cancelText="{{ 'CANCEL_BUTTON' | translate }}">
          <ion-select-option *ngFor="let t of tprep" [value]="t">{{t}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item class="animated fadeInUp">
        <ion-label position="floating">{{ 'CATEGORIA' | translate }}</ion-label>
        <ion-select formControlName="categoria" okText="{{ 'SAVE_BUTTON' | translate }}" cancelText="{{ 'CANCEL_BUTTON' | translate }}">
          <ion-select-option *ngFor="let c of categorie$ | async" [value]="c.id">{{c.nome}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <div margin-top="30px" align="center">
      <ion-button icon-left size="medium" shape="round" color="primary" (click)="onSubmit()" tappable>
        {{ 'APPLICA_BUTTON' | translate }}
      </ion-button>
    </div>

  </form>

</ion-content>


