
<ion-content padding-vertical>
<div *ngIf="utente">
  <div align="center">
    <ion-avatar class="imgprofilo">
      <img src="data:{{utente.immagine.type}};base64,{{utente.immagine.data}}">
    </ion-avatar>
  </div>
  <ion-text color="dark">
    <div class="ion-text-center">
      <ion-text>
        <h5>{{utente.username}}</h5>
      </ion-text>
      <ion-text>
        <h5>{{utente.nome}} {{utente.cognome}}</h5>
      </ion-text>
      <ion-text>
        <h5>{{utente.email}}</h5>
      </ion-text>

    </div>
  </ion-text>

  <div margin-top="30px" align="center">
    <ion-button (click)="modProfile()" size="small" shape="round" color="tertiary" tappable>
      {{ 'MODPROFILO-BUTTON' | translate }}
    </ion-button>
  </div>

  <div align="center">
    <ion-button (click)="openActionSheet()" size="small" shape="round" color="tertiary" tappable>
      {{ 'MODIMMAGINE-BUTTON' | translate }}
    </ion-button>
  </div>


  <div align="center">
    <ion-button (click)="Logout()" size="small" shape="round" color="tertiary" tappable>
      {{ 'LOGOUT-BUTTON' | translate }}
    </ion-button>
  </div>


  <ion-list>
    <ion-header padding-horizontal>
      <p>
        {{'COMMENTI' | translate}}:
      </p>
    </ion-header>

    <div class="ion-text-center">
      <p *ngIf="utente.commento.length == 0">
        <ion-text color="medium">{{'NOCOMMENTIUT' | translate}}</ion-text>
      </p>
    </div>

    <ion-item *ngFor="let commento of utente.commento">
      <ion-grid no-padding>
        <ion-row>
          <ion-col class="noborder" [routerLink]="['/ricette', commento.idricetta]" size="11" >
            <ion-row>

              <ion-col  align-self-center size="2">
                <ion-avatar class="imgcommento">
                  <img src="data:{{utente.immagine.type}};base64,{{utente.immagine.data}}">
                </ion-avatar>
              </ion-col>
              <ion-col size="9">
                <ion-label >
                  <p text-wrap>
                    {{commento.testo}}
                  </p>
                </ion-label>
              </ion-col>
            </ion-row>
          </ion-col>
            <ion-col align-self-center>
                <ion-icon size="medium" name="trash" (click)="rimuoviComm(commento.id)" ></ion-icon>
            </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</div>

</ion-content>



