<ion-header>
  <ion-toolbar color="primary" mode="ios">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{"RICERCA-TITOLO" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-segment (ionChange)="segmentChanged($event)">
  <ion-segment-button checked value="avanzata">
    <ion-label>{{"CERCAFILTRI" | translate }}</ion-label>
  </ion-segment-button>
  <ion-segment-button value="ingredienti">
    <ion-label>{{"CERCAINGREDIENTI" | translate }}</ion-label>
  </ion-segment-button>
</ion-segment>
<div [ngSwitch]="modalita">
  <ion-searchbar *ngSwitchCase="'ingredienti'" placeholder="{{'CERCA' | translate}}" (ionInput)="getItems($event)" [animated]="true"></ion-searchbar>
</div>

<ion-content>

  <div padding [ngSwitch]="modalita">

    <form [formGroup]="filtriForm" *ngSwitchCase="'avanzata'">
      <ion-list no-lines>
        <ion-item class="animated fadeInUp">
          <ion-label position="floating">{{ 'DIFFICOLTA' | translate }}</ion-label>
          <ion-select formControlName="diff" okText="{{ 'SAVE_BUTTON' | translate }}" cancelText="{{ 'CANCEL_BUTTON' | translate }}">
            <ion-select-option *ngFor="let diff of difficolta">{{diff}}</ion-select-option>
            <ion-select-option [value]="null">Qualsiasi</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item class="animated fadeInUp">
          <ion-label position="floating">{{ 'TPREP' | translate }}</ion-label>
          <ion-select formControlName="tprep" okText="{{ 'SAVE_BUTTON' | translate }}" cancelText="{{ 'CANCEL_BUTTON' | translate }}">
            <ion-select-option *ngFor="let t of tprep">{{t}}</ion-select-option>
            <ion-select-option [value]="null">{{'QUALSIASI' | translate}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item class="animated fadeInUp">
          <ion-label position="floating">{{ 'CATEGORIA' | translate }}</ion-label>
          <ion-select formControlName="cat" okText="{{ 'SAVE_BUTTON' | translate }}" cancelText="{{ 'CANCEL_BUTTON' | translate }}">
            <ion-select-option [value]="c.id" *ngFor="let c of categorie$ | async">{{c.nome}}</ion-select-option>
            <ion-select-option [value]="null">{{'QUALSIASI' | translate}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>

    </form>


    <form [formGroup]="ingrForm" *ngSwitchCase="'ingredienti'">


      <div class="spin" *ngIf="!(cibi$ | async)">
        <ion-spinner color="tertiary" name="lines"></ion-spinner>
      </div>

      <div *ngIf="(cibi$ | async)">

        <ion-list  formArrayName="ingredienti">
          <ion-item  *ngFor="let ingr of cibiVisualizzati;">

            <ion-grid [formGroupName]="ingr.index" align="center">
              <ion-row justify-content-start>

                <ion-col align-self-center size="100%">
                  <ion-thumbnail item-left>
                    <img src="data:{{ingr.c.immagine.type}};base64,{{ingr.c.immagine.data}}" />
                  </ion-thumbnail>
                </ion-col>

                <ion-col size="8">
                  <ion-label text-wrap text-left padding>
                    <h2>{{ingr.c.nome}}</h2>
                  </ion-label>
                </ion-col>

                <ion-col align-self-center>
                  <ion-checkbox formControlName="val" [checked]="(ingrForm.get('ingredienti').value[ingr.index].val)"></ion-checkbox>
                </ion-col>
              </ion-row>

            </ion-grid>

          </ion-item>
        </ion-list>
      </div>

    </form>

  </div>

</ion-content>

<div [ngSwitch]="modalita">
  <ion-toolbar>
    <ion-button expand="block" *ngSwitchCase="'avanzata'" color="tertiary" (click)="onSubmitAv()" tappable>
      {{ 'APPLICA_BUTTON' | translate }}
    </ion-button>
    <ion-button expand="block" *ngSwitchCase="'ingredienti'" color="tertiary" (click)="onSubmitIngr()" tappable>
      {{ 'APPLICA_BUTTON' | translate }}
    </ion-button>
  </ion-toolbar>
</div>


