
<ion-content padding>

  <div>
    <ion-slides pager="true">
      <ion-slide *ngFor="let slide of ricetteslide$ | async " [routerLink]="['/ricette', slide.id]" routerDirection="forward" >
        <img src="data:{{slide.immagine.type}};base64,{{slide.immagine.data}}"/>
        <ion-label class="img-description">{{slide.nome}}</ion-label>
      </ion-slide>
    </ion-slides>
  </div>


  <ion-list>
    <ion-item *ngFor="let recipe of ricettelista$ | async" [routerLink]="['/ricette', recipe.id]" routerDirection="forward">
      <ion-thumbnail item-left>
        <img src="data:{{recipe.immagine.type}};base64,{{recipe.immagine.data}}" />
      </ion-thumbnail>
      <ion-label text-wrap padding>
        <h2 class="ion-label">{{recipe.nome}}</h2>
      </ion-label>

      <ion-icon name="heart-empty" slot="end" color="tertiary"></ion-icon>

    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="ricerca()" color="tertiary">
      <ion-icon name="search"></ion-icon>
    </ion-fab-button>

  </ion-fab>

</ion-content>
