
<ion-content padding>

  <div>
    <ion-slides pager="true">
      <ion-slide *ngFor="let slide of ricette$ | async">

        <img src="assets/image/download.jpeg" />
        <ion-label class="img-description">{{slide.nome}}</ion-label>
      </ion-slide>
    </ion-slides>
  </div>


  <ion-list>
    <ion-item *ngFor="let recipe of ricette$ | async" [routerLink]="['/ricette', recipe.id]" routerDirection="forward">
      <ion-thumbnail item-left>
        <img src="assets/image/download.jpeg" />
      </ion-thumbnail>
      <ion-label padding>
        <h2>{{recipe.nome}}</h2>
      </ion-label>
      <span>
        <ion-label>
          <p>
            {{recipe.tprep | date: 'h:mm:ss'}}
            <ion-icon name="time"></ion-icon>
          </p>
        </ion-label>
        <ion-label>
          <p>
            <ion-icon name="star"></ion-icon>
            <ion-icon [hidden]="(recipe.difficolta<2)" name="star"></ion-icon>
            <ion-icon [hidden]="(recipe.difficolta<3)" name="star"></ion-icon>
            <ion-icon [hidden]="(recipe.difficolta<4)" name="star"></ion-icon>
            <ion-icon [hidden]="(recipe.difficolta<5)" name="star"></ion-icon>

          </p>
        </ion-label>

      </span>
      <ion-icon name="heart-empty" slot="end" color="tertiary"></ion-icon>

    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="ricerca()" color="tertiary">
      <ion-icon name="search"></ion-icon>
    </ion-fab-button>
    
  </ion-fab>

</ion-content>
