// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

@font-face {
  font-family: Montserrat;
  src: url("./assets/fonts/Montserrat/Montserrat-Regular.ttf");
}

body, span, button, h1, h2, h3, p, h4, h5, a, h6, ion-label, ion-select-option, li, ion-text {
  font-family: Montserrat !important;
}


.datacommento {
  font-size: 10px;
}

.logo {
  width: 300px;
  height: 200px;
  margin: 20px auto 8px;
  border-radius: 10%;
  background: url("/assets/image/logo.png") no-repeat;
  background-size: 100%;
}


.title-image {
  margin-top: 8px;
  height: 40px;

}
.ion-label{
  font-size: 20px;

}

.icona{
  display: inline-block;
  vertical-align: middle;
}


.spin{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
ion-spinner {
  width: 28px;
  height: 28px;
  stroke: #444;
  fill: #222;
}

