// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

@font-face {
  font-family: Montserrat;
  src: url("./assets/fonts/Montserrat/Montserrat-Regular.ttf");
}

body, span, button, h1, h2, h3, p, h4, h5, h6, ion-label, ion-text {
  font-family: Montserrat !important;
}
